:root {
  --oddcolor-light: rgb(0,241,202);
  --oddcolor-medium: rgb(0,161,135);
  --oddcolor-dark: rgb(0,85,91);
  --space: 16px;
  --font-size: 18px;
  font-size: var(--font-size);
  font-family: 'Figtree', sans-serif;
  color: var(--oddcolor-medium);
  text-align: center;
}

html, body {
  margin: 0;
}
a {
  color: var(--oddcolor-light);
}
h2 {
  font-size: 3rem;
}
header, section {
  padding: calc(var(--space) * 12) var(--space);
}
.center {
  display: block;
  margin: auto;
}
header {
  background-color: var(--oddcolor-medium);
  color: white;
  font-size: 1.5rem;
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

header img {
  filter: brightness(0) invert(1);
  width: 300px;
  height: auto;
}

header .scroll-down {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  animation: bounce 1s infinite linear;
}

section.me-and-why-the-gift img {
  margin-bottom: calc(var(--space) * 4);
  width: 200px;
  height: auto;
}
section.me-and-why-the-gift {
  max-width: 600px;
}

section.what-is-it {
  background-color: var(--oddcolor-dark);
  color: white;
}
section.what-is-it>div {
  max-width: 800px;
}
section.faq h2 {
  color: var(--oddcolor-dark)
}
section.faq ul{
  max-width: 800px;
  list-style: none;
  padding-left: 0;
}
section.faq ul>li>p:first-child {
  color: var(--oddcolor-dark);
}
section.faq ul>li>p:last-child {
  font-style: italic;
}
section.faq ul>li>p:first-child:before,
section.faq ul>li>p:last-child:before {
  content: "Q: ";
  font-weight: bold;
  font-style: normal;
}
section.faq ul>li>p:last-child:before {
  content: "A: ";
}
section.faq ul>li {
  margin-bottom: calc(var(--space) * 3);
}
section.faq ul>li:not(:last-child):after {
  content: " ";
  display: block;
  width: 100%;
  border-bottom: 1px dotted var(--oddcolor-light);
  padding-top: var(--space);
}

footer {
  padding: calc(var(--space) * 4) 0;
  font-size: 0.75rem;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media screen and (min-width: 800px) {
  header {
    padding: calc(var(--space) * 18) var(--space);
    font-size: 2.75rem;
  }
  header img {
    width: 500px;
  }
}
